*{
    padding: 0;
    margin: 0;
}

body{
    width: 70vw;
    margin: auto;
    font-family: Baloo-regular;
    border: 1px solid #CCCCCC;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Baloo-regular;
    background-color: #dbeffc;
    padding-top: 35px;
    padding-bottom: 35px;
}

.name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-profession h1{
    font-size: 5em;
    color: #707070;
    font-weight: 400;
}

.name-profession h3{
    font-size: 3em;
    color: #707070;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    margin: auto;
    text-align: center;
}

.img{
    border: 1px solid #fff;
    border-radius: 50%;
    height: 359px;
    width: 359px;
    margin: 20px;
    background-image: url(/assets/images/perfil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content{
    display: flex;
}

.section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .section-part{
        width: 90%;
        margin: 20px;
    }

    .section-title{
        text-decoration: underline;
        font-size: 2em;
        color: #707070;
        margin: 20px 0 20px 0;
    }

    .section-subtitle{
        font-weight: 800;
        font-size: 1.5em;
        margin-top: 20px;
    }

    .description{
        font-size: 1.5em;
    }

    .footer{
        font-size: 1.5em;
    }


.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #CCCCCC;
    padding: 20px;
    padding-top: 80px;
    width: 100%;
    background-color: #E5EEF4;
    color: #707070;
}

    .section-part{
        width: 80%;
    }

    .aside-title{
        text-align: center;
        font-size: 1.9em;
        margin: 20px 0 20px 0;
        text-decoration: underline;
    }

    .aside-description{
        font-size: 1.5em;
        text-align: center;
        line-height: 30px;
    }

    .item-list{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item{
        margin-bottom: 10px;
        font-size: 25px;
    }


@font-face{
    font-family: Baloo-regular;
    src: url(/assets/fonts/BalooDa2-Regular.ttf);
}